body {
  background-color: #000030;
  color: aliceblue;
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-list {
  display: grid;
  grid-template-columns:   1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;

}

.movie-cover {
  width: 100%;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
